@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v8/TS7BJzhU7AKgPn9R0AejYKCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Sans Bold'), local('MerriweatherSans-Bold'), url(https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowSMwD46KpV4ZaXo4aI1TkGT3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  src: local('Rock Salt'), local('RockSalt'), url(https://fonts.gstatic.com/s/rocksalt/v6/Q94aHXFHGip10K5uxi1jOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* General features */

html {
  font-family: 'Merriweather Sans', Arial;
  font-size: 16px;
  background-color: white;
}

.img-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container img {
  width: 100%;
  height: auto;
  display: block;
}
.txt-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.7rem;
  line-height: 3.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.4rem;
  font-family: 'Rock Salt', Times;
}

h2 {
  font-size: 1.3rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.05rem;
}

p {
  margin: 0.5rem 0 0 0;
  line-height: 1.5rem;
}
a {
  text-decoration: none;
  transition: color 400ms;
  color: black;
}
a:hover {
  color: #8E8F8E;
}

.main {
  padding: 0;
  width: 100%;
  display: flex;
  display: -webkit-flex; /* Safari */
}
.box {
  display: flex;
}
.box.large {
  width: 60%;
}
.box-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.box.horizontal {
  padding: 1rem;
}

.box.horizontal .img-container {
  width: 35%;
  height: 100%;
}

.box.horizontal .txt-container {
  margin-left: 2rem;
  max-width: 55%;
}
.box.horizontal .txt-container h2 {
  margin: 0rem;
}

.focus {
  background-color: #edf861;
  color: #ff3680;
}

/* Header */

header {
  display: flex;
  padding: 0;
  width: 100%;
  height: 64px;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  color: black;
}

.logo {
  margin: 0 1.5rem;
  display: flex;
}
header a {
  display: flex;
  align-items: center;
  color: black;
  transition: color 500ms;
}
header a:hover {
  color: #8E8F8E;
  transition: color 500ms;
}


.logo .img-container img{
  width: 2.5rem;
}
.logo .txt-container {
  display: inline;
  font-family: 'anton', arial;
  letter-spacing: 0.07rem;
  color: #8E8F8E;
}
header span {
  font-size: 1.5rem;
}
#colmar {
  font-weight: bold;
  color: black;
}


nav {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
}
ul {
  display: flex;
}
li {
  margin-left: 1rem;
}

.mobile {
  display: none;
}

/* Banner */


#banner {
  margin-top: 50px;
  background-color: #01b2fb;
  color: white;
}
#banner .img-container {
  margin: 2rem 1.5rem;
}

#banner h1 {
  font-size: 2rem;
}

#banner .txt-container {
  height: 100%;
  padding: 2.5rem;
}
.button {
  padding-right: 5rem;
  display: flex;
  justify-content: center;
}
.button a {
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: center;
  min-height: 1rem;
  width: 100%;
  background-color: white;
  transition: background-color 400ms, color 400ms;
}
.button a:hover {
  background-color: black;
  color: white;
}

/* Info section */

#info2 {
  padding-top: 2rem;
}

.box.large .img-container,
.box.large .txt-container {
  margin: 2rem 1.5rem;
}

.name {
  font-size: 0.9rem;
  margin-top: 2rem;
}

/* Courses section */

#courses {
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
  background-color: #8DFFDE;
}

.intro {
  width: 100%;
  text-align: center;
  color: black;
}
.box.small {
  width: 25%;
  margin: 0.5rem;
  background-color: white;
}
.box.small .txt-container {
  height: auto;
  justify-content: flex-start;
  padding: 1rem;
}
.box.small .txt-container h2 {
  margin: 0;
}

/* Thesis section */

video {
  width: 100%;
}
#thesis1 .img-container {
  margin-top: 0;
}
#thesis1 h2 {
  margin-bottom: 0rem;
}

#thesis h1 {
  margin-bottom: 2rem;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  background-color: #8E8F8E;
}

footer span,
footer li {
  padding: 0;
  font-size: 0.85rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}


@media only screen and (max-width: 1050px) {
  h1 {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  #banner h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.05rem;
    line-height: 1.8rem;
  }
  p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .box.small {
    width: 30%;
  }
}

@media only screen and (max-width: 870px), (max-device-width: 870px) {
  .main {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
  }
  .box.large {
    width: 100%;
  }
  .box-container {
    width: 100%;
  }

  #banner .img-container {
    margin: 0;
    max-height: 20rem;
    align-items: flex-start;
  }
  #banner .txt-container {
    padding: 0 1.15rem;
  }
  .button {
    padding-right: 0;
    margin-bottom: 2rem;
  }
  .button a {
    padding: 0.5rem;
    width: 50%;
  }
  h1 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  #info .box.large {
    display: none;
  }
  #info .box-container {
  padding-bottom: 2rem;
}
  .box.small {
    width: 45%;
  }
  #sub-thesis .box-container {
    display: none;
  }
}

@media only screen and (max-width: 710px), (max-device-width: 710px)  {

/* Nav bar with pictures */
  nav, ul,
  .logo .txt-container {
    display: none;
  }
  .mobile {
    display: flex;
  }
  header {
    justify-content: space-around;
  }
  .logo {
    margin: 0;
  }
  .mobile.img-container a {
    height: 100%;
  }
  #banner .mobile.img-container img {
    width: 35px;
  }
  #banner .img-container {
    max-height: 11.5rem;
  }
  .button a {
    width: 100%;
    max-width: 450px;
  }

/* work on flows */
  .desktop {
    display: none;
  }
  .box.horizontal {
    flex-wrap: wrap;
  }
  #info2 {
    padding-top: 1rem;
  }
  .box.horizontal .img-container,
  .box.horizontal .txt-container {
    width: 100%;
    height: auto;
  }
  #info .txt-container {
    margin-left: 1rem;
  }
  .box.horizontal .txt-container {
    max-width: 100%;
    margin-top: 1.5rem;
  }
  #courses .img-container{
    display: none;
  }
  #courses .txt-container{
    height: 1.4rem;
    overflow: hidden;
    transition: height 700ms;
  }

  #courses .txt-container:hover {
    height: 7rem;
  }


  .box.small {
    width: 100%;
    max-width: 450px;
    margin: 0.5rem 1rem;
  }
  footer span {
    margin: 1rem 0;
  }
}
